{% extends "mlmodels/mlmodel_template.html" %}

{% block info %}
    <h2>Machine Learning Models</h2>
    <hr />
    <h3>Ask:</h3>
    <p>Does the victim's age, gender, relationship to the person that recruited them and citizenship predict the type of exploitation?</p>
    <p>Polaris-reported human trafficking appears to fall in to one of five major types of exploitation: sexual, forced labor, forced marriage, slavery and other/multiple exploits.</p>
    <hr />
    <h3>Data ETL</h3>
    <p>Placeholder text</p>
    <h3>Model Choice</h3>
    <p>Initially, both unsupervised and neural-network systems were chosen. Following p</p>
    <p><a href="https://drive.google.com/file/d/1JGqlcf3GGCHly1J5kpmt0BBKkFVGVrXw/view?usp=sharing">Colab Notebook <i class="fas fa-external-link-alt"></i></a></p>
    

{% endblock %}