{% extends "dash/base.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-4">
    <!-- Sidebar navigation for "/home" area -->
    <h2>Data Home</h2>
    <ul class="nav nav-pills flex-column">
    <li class="nav-item">
    <a class="nav-link" href="#">Data Link</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Data Link</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Data Link</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#" target="_new">Data Link</a>
    </li>
    </ul>
  </div>
  <div class="col-sm-8">
    <!-- Content area for "/home" area -->
    {% block info %}
    {% endblock %}
  </div>
</div>

{% endblock %}