{% extends "charts/charts_template.html" %}

{% block info %}
<script>
  function makeplot() {
    Plotly.d3.csv("https://raw.githubusercontent.com/gh-mrmoore/AnalyticsFinalProject/Segment-2/Segment-2/Exports/eda5b.csv", function(data){ processData(data) } );

};
   
function processData(allRows) {

   console.log(allRows);
   var x = [];
  
   for (var i=0; i<allRows.length; i++) {
       row = allRows[i];
       x.push( row['gender'] );
   }
   console.log( 'X',x);
   makePlotly(x);
}

function makePlotly(x){
   var plotDiv = document.getElementById("plot");
   var traces = [{
      labels: x,
      type: 'pie'
   }];

   var layout = {
    title: 'Victims by Gender',
    height: 400,
    width: 500
  };


   Plotly.newPlot('plot', traces, layout);
};
 makeplot();

</script>

  <div class="row">
    <div class="col-sm-12">
      <h2>Our Project</h2>
      <div id="plot"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
    <script src="gender_pie.js"></script>
    </div>
  </div>

{% endblock %}