{% extends "models/models_template.html" %}

{% block info %}
    <h2>Machine Learning Models</h2>
    <hr />
    <h3>Segment 1</h3>
    <h5>Initial Model Creation</h5>
    <p>Our initial model was create using a deep learning neural-network approach.</p>
    <hr />
    <h3>Segment 2</h3>
    <h5>Model Revision and Refinement</h5>
    <p>After less than satisfying results with unsupervised and deep learning neural-network approaches,
       consultations with our course instructor led to the development of a multi-class model using 
       logistic regression.
    </p>
    

{% endblock %}